# Project : Matching Student IDs Between Two CSV Files

## Project Overview 
This project compares student data between two separate CSV files to identify mismatches, duplicates, and potential data integrity issues.

The use case is inspired by education data systems:

One system represents real-time operational data (e.g., Aeries).

Another represents a snapshot-based reporting system (e.g., CALPADS).

These systems may not always align perfectly. This project simulates the need to validate and reconcile student records across multiple data sources.
## Project Goal 
The goal of this project is to build a data analysis workflow that:

Matches student records between two datasets using Student ID (SSID or Local SIS ID)

Identifies students missing from either dataset

Detects duplicate Student IDs within datasets

Produces summary outputs to highlight data discrepancies and support data quality assurance

## Real-World Use Case Scenario
In school data reporting, differences between operational and reporting systems can arise due to timing delays, inactive students, or data entry errors.

This project demonstrates how a data analyst can reconcile student records, detect inconsistencies, and ensure reliable reporting for compliance and auditing purposes.

SSID Matching when doing verifying fall 2 and certification reports 
- When run aeries query report we get list of students but aeries is using runtime data so we have to go to census day as well as including inactive students since CALPADS is snapshot and Aeries is realtime data
- Once we ran aeries query and it reflected CALPADS there could be discrepancy still like how they go from EL to RFEP
- Excel had sort by color we took one report aeries one and highlighted it all blue so we know
- go to supporting report of certifictation report example 2.7 supports 2.4 and highlight columns
- we want to compare both list of SSID or student ID and make sure they are all duplicates
- the ones that are not duplicates and the discreppency that we check in aeires
- This is problem we are solving so we dont have to do 
## Methodology / Approach 
The project follows a structured workflow:

Data Preparation – Both CSV files are loaded and column names standardized to ensure consistent formats.

Record Matching – Student ID (SSID or Local SIS ID) is used as the primary key to match records across files.

Comparison and Validation – Identify matched and unmatched records and detect duplicate Student IDs within each dataset.

Output Generation – Results are organized into structured output files and summary metrics to highlight discrepancies and overall alignment between systems.
## Expected Outputs
The project produces two output files:

discrepancies.csv → Contains Student IDs that are missing from either dataset.

matched_records.csv → Contains Student IDs that exist in both datasets.

These outputs provide a clear view of which records are aligned across systems and which need attention for data quality purposes.

In [7]:
# Import Necessary Dependencies for our Project
from pathlib import Path
import pandas as pd

In [8]:
# Referencing Our Sample Data
PROJECT_ROOT = Path("..")
DATA_DIR = PROJECT_ROOT / "data"
aeries_path = DATA_DIR / "aeries-mock.csv"
calpads_path = DATA_DIR / "calpads-mock.csv"

In [9]:
# Load our data into pandas
df_aeries = pd.read_csv(aeries_path)
df_calpads = pd.read_csv(calpads_path)

# How to preview data 
- Once use .read_csv() which reads csv data can use .head() or .tail()
- head looks at default first 5 rows of data and tail looks at last 5

In [10]:
df_aeries.head(12)

    Student ID  Last Name First Name        EL_Status
0        10001   Martinez      Alice  English Learner
1        10002    Ramirez     Carlos  English Learner
2        10003      Lopez      Diana  English Learner
3        10004     Nguyen      Emily  English Learner
4        10005    Johnson      Frank  English Learner
5        10006      Patel      Grace  English Learner
6        10007        Kim      Henry  English Learner
7        10008  Rodriguez   Isabella  English Learner
8        10009   Thompson      Jason  English Learner
9        10010    O’Neill      Kevin  English Learner
10       10011     Hassan       Maya  English Learner
11       10012       Chen      Brian  English Learner

In [11]:
df_calpads.head(10)

   Student ID  Last Name First Name        EL_Status
0       10001   Martinez      Alice  English Learner
1       10002    Ramirez     Carlos  English Learner
2       10003      Lopez      Diana  English Learner
3       10004     Nguyen      Emily  English Learner
4       10005    Johnson      Frank  English Learner
5       10006      Patel      Grace  English Learner
6       10007        Kim      Henry  English Learner
7       10008  Rodriguez   Isabella  English Learner
8       10009   Thompson      Jason  English Learner
9       10010    O’Neill      Kevin  English Learner

In [13]:
# Can reference a col with df[col name]

Aeries_STU = df_aeries['Student ID']
Calpads_STU = df_calpads['Student ID']

In [14]:
# This is saying how many students we have in our Aeries Query or data
print(f'There are {int(Aeries_STU.count())} students in Aeries')
print(f'There are {int(Calpads_STU.count())} students in CALPADS')

There are 12 students in Aeries
There are 10 students in CALPADS

In [15]:
# CAN CHECK to SEE WHATS IN EACH CSV AND VICE VERSA
Aeries_STU.isin(Calpads_STU)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10    False
11    False
Name: Student ID, dtype: bool

In [ ]:
# Let try to access 11 12 in aeries 
print(f'Student with STU_ID {int(Aeries_STU[10])} not in CALPADS supporting report')
print(f'Student with STU_ID {int(Aeries_STU[11])} not in CALPADS supporting report')

# Main Takeaway 
- ## We can check if values in one col are in another col
- ## We were able to do so the possibilities - mess with the df and try access different col and do different checks
- ## Read Documentation to see what else pandas has offer These are the tools you’ll want to explore:
- ## We can flesh out this idea of Aeries Query to compare CALPADS supporting reports and make it so we download the results of mismatch of CSV and get other col and fields as needed

These are the tools to explore:

a) isin()

Checks if values in one column exist in another Series.

Example mental workflow:

“Which Student IDs in Aeries also exist in CALPADS?”

Useful for filtering matched vs unmatched rows

b) merge()

Combines two DataFrames on a key column (Student ID)

Options:

how='inner' → only duplicates

how='left' → all Aeries rows, plus matching CALPADS data

how='outer' → everything from both, highlight missing

This is how you get side-by-side comparison for each student.

c) duplicated()

Checks for duplicate rows in a single column or DataFrame

Can be handy if a CSV has multiple rows for the same Student ID (less likely in your mock, but real data sometimes has this)

d) isnull() + empty string check

Ensures no empty/missing IDs before comparing

Always a good first step

e) value_counts()

Can count occurrences of IDs or statuses

Helps summarize counts after filtering or merging